{% extends "layout.html" %}

{% block titre -%}<title>Administration - Collections</title>{%- endblock titre %}

{% block contenu -%}
<div class="w3-col l2">
  <div class="w3-margin w3-padding-small w3-card-4 w3-black w3-opacity-max">
    <form action="{{ url_for('admin_collection', id_collection=collection.id) }}" method="POST">
      <h4 style="overflow:hidden; text-overflow:clip;">
        <b>Titre du tableau</b>
      </h4>
      <input id="titre" type="text" name="titre">
      <h4 style="overflow:hidden; text-overflow:clip;">
        <b>Description du tableau</b>
      </h4>
      <textarea id="description" name="description"></textarea>
      <input id="id_tableau" type="hidden" name="id_tableau" value="">
      <br>
      <input type="submit" value="Mettre à jour">
    </form>
  </div>
</div>
<div class="w3-col l8 m12 s12">
  {%- for tableau in collection.tableaux %}
  <div class="w3-quarter w3-mobile" style="min-width:210px;">
    <div class="w3-display-container" style="width:200px; height:200px; margin:10px">
      <img class="w3-card-4" src="{{ tableau.src }}" alt="{{ tableau.titre.strip() }}"
           style="object-fit:cover; width:200px; height:200px" onclick="updateForm(this);">
      <div class="w3-display-hover w3-center w3-small w3-padding-small w3-opacity-min w3-gray w3-display-bottommiddle"
           style="width:100%">
        <b class="titre">{{ tableau.titre }}</b>
        <b class="w3-hide description">{{ tableau.description|join("<br>") or "" }}</b>
        <b class="w3-hide id_tableau">{{ tableau.id }}</b>
      </div>
    </div>
  </div>
  {%- endfor %}
</div>
<script>
  function updateForm(truc) {

    document.getElementById("id_tableau").value = truc.parentElement.getElementsByClassName("id_tableau")[0].innerHTML;
    document.getElementById("titre").value = truc.parentElement.getElementsByClassName("titre")[0].innerHTML;
    document.getElementById("description").innerText = truc.parentElement.getElementsByClassName("description")[0].innerHTML;
  }
</script>
{% endblock contenu %}