{% extends "layout.html" %}

{% block titre -%}<title>Administration - Collections</title>{%- endblock titre %}

{% block contenu %}
<div class="w3-content">
  <div>
    {%- for collection in collections %}
    <div id="{{ 'row_' + collection.id|string }}" class="w3-panel w3-brown w3-opacity-min w3-padding-small w3-margin">
      <div draggable="true" ondragstart="startDrag(event);" ondrop="swapRow(event);" ondragover="allowDrop(event);" ondragleave="makeMoreOpaque(this.closest('.w3-panel'));">
        <button class="dropdown-button" onclick="togglePanel(this.closest('.w3-panel'));">&#9654;</button>
        <span>{{ collection.titre.strip()|safe }}</span>
      </div>
      <div class="w3-hide w3-row">
        <form action="{{ url_for('admin_modifier_collection') }}" method="POST"
              class="w3-threequarter w3-padding-small" autocomplete="off">
          <input type="hidden" name="position" value="{{ loop.index0 }}" class="pos">
          <input type="hidden" name="id_élément" value="{{ collection.id }}">
          <input type="text" name="titre" value="{{ collection.titre.strip()|safe }}" oninput="saveMode(this.closest('.w3-panel'));" required><br>
          <textarea name="description" class="w3-block" rows="6" oninput="saveMode(this.closest('.w3-panel'));">
          {{- collection.description.strip()|safe -}}
          </textarea>
          <input type="submit" name="action" value="Mettre à jour" class="maj-btn" disabled>
          <button type="button" class="maj-btn" onClick="window.location.reload();" disabled>Annuler</button>
          <input type="submit" name="action" formaction="{{ url_for('admin_supprimer_collection') }}" value="Supprimer" class="w3-right">
        </form>
        <div class="w3-quarter w3-padding-small">
          <a href="{{ url_for('admin_tableaux', id_collection=collection.id) }}">
            <img src="{{ collection.src }}" alt="{{ collection.titre.strip()|safe }}"
                 class="w3-right" style="object-fit:cover; width:200px; height:200px;">
          </a>
        </div>
      </div>
    </div>
    {%- endfor %}
  </div>
  <div id="new_row" class="w3-panel w3-brown w3-opacity-min w3-padding-small w3-margin">
    <div ondragover="allowDrop(event);" ondrop="swapRow(event);" ondragleave="makeMoreOpaque(this);">
      <button onclick="togglePanel(this.closest('.w3-panel'));">&plus;</button>
      <span>Ajouter une collection ici</span>
    </div>
    <div class="w3-hide w3-row">
      <form action="{{ url_for('admin_ajouter_collection') }}" method="POST"
            class="w3-threequarter w3-padding-small" autocomplete="off">
        <input type="hidden" name="position" value="" class="pos">
        <input type="text" name="titre" oninput="saveMode(this.closest('.w3-panel'));" required><br>
        <textarea name="description" class="w3-block" rows="6" oninput="saveMode(this.closest('.w3-panel'));"></textarea>
        <input type="submit" name="action" value="Ajouter">
        <button type="button" class="maj-btn" onClick="window.location.reload();" disabled>Annuler</button>
      </form>
    </div>
  </div>
</div>
<script>
  function foldPanel(row) {
    row.lastElementChild.classList.add('w3-hide');
    for (ddbtn of row.getElementsByClassName('dropdown-button')) {
      ddbtn.innerHTML = '&#9654;';
    };
  };

  function unfoldPanel(row) {
    row.lastElementChild.classList.remove('w3-hide');
    for (ddbtn of row.getElementsByClassName('dropdown-button')) {
      ddbtn.innerHTML = '&#9660;';
    };
  };

  function foldAllPanels() {
    for (panel of document.getElementsByClassName('w3-panel')) {
      if (panel.children.length > 1) {
        foldPanel(panel);
      };
    };
  };

  function togglePanel(row) {
    if (document.modified) {
      alert('Des modifications sont en cours sur cette collection, mettre à jour ou annuler avant d\'en entreprendre d\'autres.');
    } else if (row.lastElementChild.classList.contains('w3-hide')) {
      foldAllPanels();
      unfoldPanel(row);
    } else {
      foldAllPanels();
    };
  };

  function saveMode(row) {
    row.classList.replace('w3-brown', 'w3-red');
    document.modified = true;
    for (btn of row.getElementsByClassName('maj-btn')) {
      btn.disabled=false;
    }
  };

  function allowDrop(ev) {
    ev.preventDefault();
    var this_panel = ev.target.closest('.w3-panel');
    this_panel.classList.replace('w3-opacity-min', 'w3-opacity-max');
  };

  function makeMoreOpaque(panel) {
    panel.classList.replace('w3-opacity-max', 'w3-opacity-min');
  };

  function startDrag(ev) {
    foldAllPanels();
    ev.dataTransfer.setData('row_id', ev.target.closest('.w3-panel').id);
  };

  function swapRow(ev) {
    ev.preventDefault();
    var dropped_row = document.getElementById(ev.dataTransfer.getData('row_id'));
    var this_row = ev.target.closest('.w3-panel');
    this_row.insertAdjacentElement("beforeBegin", dropped_row);
    makeMoreOpaque(this_row);
    dropped_row.getElementsByClassName('pos')[0].value = this_row.getElementsByClassName('pos')[0].value;
    saveMode(dropped_row);
    unfoldPanel(dropped_row);
  };
</script>
{% endblock contenu %}