<nav class="w3-display-container w3-margin-bottom w3-hide-small  w3-text-white" style="background-color:#ff3300;">
    <a href="/">
        <img class="w3-opacity-min" src="/static/images/signature_arlette.png" alt="logo">
    </a>
    <div class="w3-display-middle">
        <a class="w3-button" href="{{ url_for('présentation') }}">Présentation</a>
        <a class="w3-button" href="{{ url_for('collections') }}">Œuvres</a>
        <a class="w3-button" href="{{ url_for('publications') }}">Publications</a>
        <a class="w3-button" href="{{ url_for('contact') }}">Contact</a>
        <a class="w3-button" href="{{ url_for('administration') }}">Administration</a>
    </div>
</nav>