{% extends "layout.html" %}

{% block titre -%}<title>Contact</title>{%- endblock titre %}

{% block contenu %}
<div class="w3-content w3-card-4 w3-text-white" style="background-color:#ff3300; height:300px">
  <img class="w3-margin-right" style="max-height:100%; float:left" src="\static\images\5\03lesvilles.jpg"
       alt="Les villes 03">
  <div class="w3-padding">
    <h2>Contact</h2>
    <p>Pour prendre contact avec les héritiers d'Arlette Le More :</p>
    <ul style="list-style-type:none">
      <li class="w3-padding">
        Juliette Le More<br/>
        3 avenue Massenet<br/>
        94110 Arcueil
      </li>
      <li class="w3-padding">
        01 49 85 95 41
      </li>
      <li class="w3-padding">
        <a href="mailto:infos@arlettelemore.com">infos@arlettelemore.com</a>
      </li>
    </ul>
  </div>
</div>

{% endblock contenu %}