{% extends 'layout.html' %}

{% block titre %}<title>Page inexistante</title>{% endblock titre %}

{% block contenu %}
<div class="w3-content w3-card-4 w3-text-white" style="background-color:#ff3300; height:300px">
    <img class="w3-margin-right" style="max-height:100%; float:left" src="\static\images\4\04lagourmandise.jpg" alt="La gourmandise 04">
    <div class="w3-padding">
        <p>La page n'a pas été trouvée.</p>
        <p><a href="/">Accueil du site</a></p>
    </div>
</div>
{% endblock contenu %}