{% extends "layout.html" %}

{% block titre -%}
<title>Arlette Le More</title>
{%- endblock titre %}

{% block contenu -%}
<div class="w3-content w3-row w3-card-4 w3-text-white" style="background-color:#ff3300;">
    <div class="w3-third">
        <img src="/static/images/lemore_portrait1.jpg" alt="Arlette Le More" style="max-width:100%">
    </div>
    <div class="w3-twothird w3-padding w3-small">
        <h2>Arlette Le More</h2>
        <h4>Ma formation : </h4>
        <p>
            l'Ecole normale supérieure des beaux-Arts atelier de sculpture d'Art monumental<br>
            Académie Julian - peinture
        </p>
        <h4>Mon parcours :</h4>
        <p>
            Actuellement je suis visible principalement à la Galerie St Hubert, à la Galerie St. Charles à Lyon et à la Galerie Daniel Besseiche à Paris, mais aussi en régions (salons, galeries, centres culturels...).
            Seize grands Prix et récompenses m'ont été attribués, et j'ai été invitée d'honneur dans vingt villes, les dernières étant « Versailles, Lyon, le Grand-Quevilly, Sannois, Chapelle des Jésuites à Chaumont ».
            J'ai exposé en groupe ou seule : En Allemagne, Suisse, Italie, Chine , Japon, Afrique noire, les Emirats, En (ex)U.R.S.S. et aux U.S.A.
            Mes toiles figurent dans les musées de Cherbourg, Carcassonne Dreux , Ile Adam, Etampes, Utrillo Valadon de Sannois, Orly Ouest, ainsi que dans les municipalité de Drancy, d'Angers et de St. Memmie en Champagne .
        </p>
        <h4>Mes fonctions au sein d'associations d'Artistes :</h4>
        <p>
            Membre fondateur et Vice-Présidente de la biennale 109<br>
            Présidente d'Honneur de la Fondation Taylor<br>
            Chef d'atelier à l'académie Port Royal à Paris
        </p>
        <h4>Mes activités d'Edition et de mise en scène  :</h4>
        <p>
            «  Cabotage en Armor «  Editions de l'Arcouest   2006 -  Illustration «  d'ombres de lumière «  recueil de poèmes de Michel Martin-Sisteron Editions Bartavelle<br>
            Monographie édition "le Léopard d'Or"<br>
            Texte sur Isadora Duncam   Catalogue de l'exposition des oeuvres de Jules   Grandjouan à la médiathèque de Nantes - Création de quatre lithographies sur les presses de I.D.L. à Paris<br>
            Peinture à l'eau et ses techniques   Edition Borneman (épuisée)<br>
            Décoration de rue de la ville d'Hirson en Thiérache<br>
            Décoration éphémère du marché St.Martin à Paris<br>
            Création à la station St. Augustin à Paris, en public d'une composition de 12 m2.<br>
            Décoration de la Bulle discothèque Staff et volumes sculptés.
        </p>
    </div>
</div>
{%- endblock contenu %}
